
body {
    background-color:white;
    margin: 0;
}
::-webkit-progress-bar {
    background: white;
}
::-webkit-progress-value {
    background: #e1e0de;
}
::-moz-progress-bar {
    background: white;
}
.progressbar {
    position: fixed;
    z-index: 101;
    margin: 0px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: white;
    border: none;
}

.opacity {
    opacity: 0.5;
}

.opacity:hover {
    opacity: 1.0;
}

.NavigationMenu {
    position: -webkit-sticky;
    position: sticky; top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ListNavigation {
    float: left;
}

.NavigationButton, .dropbtn{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Verdana;
}

.NavigationButton:hover,.dropdown:hover .dropbtn {
    background-color: #111111;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Verdana;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .ListNavigation {float: none;}
}

#t01 {
    background-color: white;
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#t01 tr:hover {
    background-color:blue;
}

#t01 tr:nth-child(even) {
    background-color: #dddddd;
}

#t01 tr:nth-child(odd) {
    background-color: #fff;
}

#t01 th {
    background-color: black;
    color: white;
}

#t01 th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#t01 caption {
    font-family: Verdana;
    font-size:200%;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#calendar table {
    border-collapse: collapse;
}

#calendar td, th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

#calendar th {
    font-weight: bold;
    background-color: #E6E6E6;
}
.davidLinkDisplay {
    position: fixed;
    bottom: 160px;
    left: 2px;
}

.displayList {
    display: inline-block;
    text-align: left;
    font-family: arial;
    color: black;
    font-size:170%;
    margin: 10px;
}

.davidLink:link {
    font-family: Verdana;
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

.davidLink:visited {
    font-family: Verdana;
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

.davidLink:hover, .davidLink:active {
    font-family: Verdana;
    color: orangered;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    font-size:10vw;
}

form {
    width: 100%;
    display: inline-block;
    margin: 0px 0px;
    padding: 20px;
    font-family: Verdana;
}

input, select {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    outline: none;
}

select {
    width: 350px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input:focus ,textarea:focus {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 2px solid #555;
}

textarea {
    width: 350px;
    height: 80px;
    outline: none;
    padding:12px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    resize: none;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.custom-site-search {
    width: auto;
    padding: 5px 5px;
    font-family: Verdana;
}

.custom-site-search>input[type=text] {
    margin: 0 0;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0;
    font-size: 15px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    transition: width 0.4s ease-in-out;
}

.custom-site-search>input[type=text]:focus {
    width: 600px;
}

@media only screen and (max-device-width: 480px) {
    input, select, textarea, .custom-checkbox>span {width: 80%;}
    .custom-site-search>input[type=text] {width: auto}
    .custom-site-search {float:none;}
}

@media (min-width: 1675px) {

}

@media (min-width: 993px) {

}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    width: 100%;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}


/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("chek.png");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

/* для элемента input c type="radio" */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin: 1px;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #ddd;
    border-radius: 50%;
    transition: .3s background-color;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/*clearfix hack*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}